@font-face {
    font-family: myFont;
    src: url(./fonts/Norse-Bold.otf) format("opentype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.image-area {
    width: 33vw;
    height: 100vh;
    flex: 1 0 33%;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-area {
    flex: 1 0 66%
}