@font-face {
    font-family: logoFont;
    src: url(./fonts/Norse-Bold.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.image-area {

    flex: 33%;
}

.image-area img {
    width: 100%;
}

.form-area {
    flex: 66%;
    display: flex;
    flex-direction: column;


}

.form-area>* {
    padding: 1.5rem;
}

.intro,
.buttons {
    background-color: rgb(237, 237, 237);

}

.intro {
    flex: 37%;
}

.inputs {
    flex: 25%;
}

.buttons {
    flex: 37%;
}

#signup-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

legend {
    flex: 100%;
}

input {
    width: 300px;
}

#signup-form>.form-item {
    flex: 50%;


}